.form-control {
    width: 50%;
    margin: 5px;
    font-size: 14pt;
}

.btn {
    font-size: 12pt;
}

.btn-leaver {
    background-color: #ff6666;
}

.small {
    width: 30%;
    margin-top: 5px;
}

ul {
    list-style-type: none;
}

.chatBox {
    border: 1px solid lightslategrey;
    background-color: whitesmoke;
    box-shadow: darkgray;
    width: 50%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatBox::-webkit-scrollbar {
    width: 15px;
}

.chatBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
}