<div class="container">
    <h2>Pick a room to join:</h2>

    <table class="table table-hover table-striped">
        <tr *ngFor="let room of rooms">
            <td>{{ room }}</td>
            <td><button class='btn btn-info' (click)="onJoinRoom(room)"> Join room </button></td>
        </tr>
    </table>
    <h2>Or create a new room: </h2>
    <input class="form-control" [(ngModel)]="roomName" placeholder="Put room name here" />


    <button class='btn btn-info' (click)="onAddRoom()"> Add Room </button>
</div>