.table {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 12pt;
}

.btn {
    font-size: 12pt;
}

.btn-table {
    float: right;
}

.form-control {
    width: 50%;
    margin-bottom: 5px;
    font-size: 12pt;
}

.container {
    padding: 5%;
    margin-left: 30%;
}

.list-group-item {
    padding-left: 10px;
    width: 50%;
    background-color: lightskyblue;
    color: white;
    font-size: 12pt;
}